<form action="/new" method="post">
  <label>Game Title</label>
  <input type = "text" name = "number">
  <label>How many players would you like in your game?</label>
  <input type = "text" name = "number">
<form>
